/* Overriding af colors here */
:root {
  --digi--color--text--primary: #616161;
  --digi--color--icons--primary: var(--digi--color--text--primary);
  --digi--color--text--secondary: #113f09; /* updated */
  --digi--color--background--inverted-1: #f7b85a; /* updated */
  --digi--color--background--inverted-6: #f9b34b; /* updated */
}
