.divWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-inline: 1rem;
}

ul {
  max-width: 400px;
  width: 100%;
  margin: 0 auto !important;
}

@media (width >=1024px) {
  .divWrapper {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1440px;
  }

  div {
    display: flex;
    flex-direction: column;
  }

}