.button {
    max-width: 430px;
    margin: 0 auto;
    margin-block: 1rem;
}

.contactButton {
    max-width: 400px;
    margin: 0 auto;
    margin-block: 1rem;
}

@media (width >=1024px) {
    .button {
        max-width: 1024px;
    }

    .contactButton {
        max-width: 1024px;
        padding-inline-start: 3.25rem;
    }

}