.search_container {
  width: 100%;
  max-width: 768px;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.searchfield {
  width: 100%;
  max-width: 251px;
  display: block;
}

@media screen and (min-width: 768px) {
  .searchfield {
    max-width: 768px;
  }
}
