.li {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-block-end: 1rem;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: white;
}

.article {
    flex-direction: column;
    margin-left: 20px
}

.img {
    height: 100px;
}

.div {
    flex-direction: row;

}

.div img {
    margin-inline-end: 10px;
}

@media (width >=1024px) {
    .li {
        margin-right: auto;
    }
}