.ul {
    margin-block: 1rem;
}
.li {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-block: 1rem;
    max-width: 400px;
    height: auto;
    padding-block: 1rem;
}
.article {
    flex-direction: column;
    margin-left: 20px
}
.img {
    height: 100px;
}
.div {
    flex-direction: row;

}
.div img {
    margin-right: 10px;
}

@media (width >=1024px){
    .li {
        margin-right: auto;
    }
}